@font-face {
  font-family: "iconfont";
  src: url("iconfont.eot");
  /* IE9*/
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.icon-mail:before {
  content: '\e6f1';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-language:before {
  font-size: 16px !important;
  content: '\e600';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #15171a; }

.icon-star {
  position: relative; }

.icon-star:before {
  padding-right: 3px;
  font-size: 12px;
  position: absolute;
  left: -1.2em;
  -ms-transform: translateY(0.3em);
  transform: translateY(0.3em);
  content: '\e69b';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-wechat:before {
  content: '\e608';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-html:before {
  content: '\e633';
  font-size: 19px !important;
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  z-index: 9;
  top: 50%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  width: 36px;
  height: 36px;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -53px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #3eb0ef; }

.icon-book {
  position: relative; }

.icon-book:before {
  content: '\e990';
  position: absolute;
  left: -1.2em;
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-light:before {
  font-size: 18px !important;
  content: '\e611';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  z-index: 9;
  top: 50%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  width: 36px;
  height: 36px;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -53px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #3eb0ef; }

.icon-server:before {
  font-size: 15px !important;
  content: '\e7e0';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  z-index: 9;
  top: 50%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  width: 36px;
  height: 36px;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -53px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #3eb0ef; }

.icon-gear {
  position: relative; }

.icon-gear:before {
  content: '\e6ef';
  position: absolute;
  left: -1.2em;
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  padding-right: 3px;
  color: #333; }

.icon-rocket:before {
  font-size: 18px !important;
  content: '\e853';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #15171a; }

.icon-github:before {
  content: '\e972';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-blog:before {
  content: '\e660';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-work:before {
  font-size: 26px;
  content: '\e60c';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  z-index: 9;
  top: 50%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  width: 36px;
  height: 36px;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -53px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #3eb0ef; }

.icon-school:before {
  font-size: 16px !important;
  content: '\f0a7';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #15171a; }

.icon-brain:before {
  font-size: 28px;
  content: '\e65b';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 32px;
  display: inline-block;
  float: left;
  width: 32px;
  height: 32px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #15171a; }

.icon-flags:before {
  content: '\e64d';
  font-size: 16px !important;
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  position: absolute;
  z-index: 9;
  top: 50%;
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  width: 36px;
  height: 36px;
  margin-top: -7px;
  margin-left: 3px;
  margin-left: -53px;
  padding: 6px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #3eb0ef; }

.icon-phone:before {
  content: '\e770';
  font-family: 'iconfont' !important;
  font-style: normal;
  padding-right: 3px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale; }

.icon-trophy:before {
  content: "\e896";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 3px;
  color: #fff;
  background: #15171a;
  font-size: 18px !important;
  padding: 6px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  float: left;
  line-height: 32px;
  font-size: 28px; }
